<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671516080729-2gcvoqrqm25j21a54p179olc9gnfgpq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671516080729-2gcvoqrqm25j21a54p179olc9gnfgpq7</string>
	<key>API_KEY</key>
	<string>AIzaSyD56OeycDUJerZ3rQR43751WndmYCeTOaw</string>
	<key>GCM_SENDER_ID</key>
	<string>671516080729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cobsccomp212p-064.iosfitnessapp</string>
	<key>PROJECT_ID</key>
	<string>iosfitnessapp-5643b</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfitnessapp-5643b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671516080729:ios:2ed28d09890671b4938f48</string>
	<key>DATABASE_URL</key>
	<string>https://iosfitnessapp-5643b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>