<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778295903909-1p5h5oe9n5fnsf43huib7a63fmshq5vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778295903909-1p5h5oe9n5fnsf43huib7a63fmshq5vj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0RKlirSLX8hmPniRihbE5yncx4JudJX0</string>
	<key>GCM_SENDER_ID</key>
	<string>778295903909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cobsccomp212p064</string>
	<key>PROJECT_ID</key>
	<string>iosfitnessapp-83907</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfitnessapp-83907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778295903909:ios:77c5ced224efade1a4af4c</string>
</dict>
</plist>